.product-container {
    .combo-new-container {
      width: 100%;
      
      .combo-new.row {
        margin: 0 auto;
        width: 90%;
        
        .combo-new-box.col-md-3.col-sm-3 {
          padding: 20px;
          
          .combo-new-box-img {
            width: 100%;
            height: auto;
            object-fit: cover;
          }
          
          .btn-product-color {
            margin: 10px auto;
            display: flex;
            justify-content: center;
            
            .btn-color1 {
              border: none;
              background-color: #000; // Đen
              border-radius: 50%;
              width: 30px;
              height: 30px;
              margin: 5px;
            }
            
            .btn-color2 {
              border: none;
              background-color: rgb(252, 202, 169); // Màu cam nhạt
              border-radius: 50%;
              width: 30px;
              height: 30px;
              margin: 5px;
            }
            
            .btn-color3 {
              border: none;
              background-color: rgb(122, 56, 26); // Màu nâu
              border-radius: 50%;
              width: 30px;
              height: 30px;
              margin: 5px;
            }
          }
          
          .name-product {
            text-align: center;
            padding: 0;
            margin: 0;
            color: rgb(99, 99, 99); // Màu xám cho tên sản phẩm
          }
          
          .price-product {
            text-align: center;
            padding: 0;
            margin: 0;
            color: #000; // Màu đen cho giá
            font-weight: 500;
          }
          .out-of-stock-tag {
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: rgba(255, 0, 0, 0.8);
            color: #fff;
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            font-weight: bold;
            z-index: 10;
        }
        }
      }
    }
  }
  